<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vichitpov.com.fbs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, label">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.login.StartLoginActivity" />
        <activity android:name=".ui.activities.PostToSellActivity" />
        <activity android:name=".ui.activities.profile.UserProfileActivity" />
        <activity android:name=".ui.activities.PostToBuyActivity" />
        <activity android:name=".ui.activities.BookmarkCategoriesActivity" />
        <activity android:name=".ui.activities.DetailProductActivity" />
        <activity android:name=".ui.activities.SearchProductActivity" />
        <activity android:name=".ui.activities.profile.EditUserProfileActivity" />
        <activity android:name=".ui.activities.SettingsActivity" />
        <activity android:name=".ui.activities.BuyerSeeMoreActivity" />
        <activity android:name=".ui.activities.SellerSeeMoreActivity" />
        <activity android:name=".ui.activities.ChooseCategoryActivity" />

        <!-- Google Map Meta -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <!-- Close Google Map -->

        <activity android:name=".ui.activities.profile.ProductSoldActivity" />
        <activity android:name=".ui.activities.profile.ProductBoughtActivity" />
        <activity android:name=".ui.activities.profile.RePostToSellActivity" />
        <activity android:name=".ui.activities.profile.RePostToBuyActivity" />
        <activity android:name=".ui.activities.login.RegisterUserActivity" />

        <!-- account kit -->

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />

        <!--  -->

        <activity android:name=".ui.activities.EditProductActivity" />
        <activity android:name=".ui.activities.ProductSellerCategoryActivity"></activity>
    </application>

</manifest>